<div data-role="page" id="home">
  <div data-role="header" data-position="fixed">
    <h4>MicroBlog</h4>
    <h5></h5>
  </div>
  <div class="ui-content" role="main">
    <h1>Bienvenidos</h1>
    <label for="">Usuario</label>
    <input type="text" name="nombre" value="">
    <label for="">Password</label>
    <input type="text" name="pasword" value="">

    <input type="button" name="ingresar" value="Ingresar">
  </div>
  <div data-role="footer" data-position="fixed">
    <h5>Derechos Reservados 2017</h5>
  </div>
</div>
